#VS Code
.vscode/
.vs

#Website
website_src/

# Packages
Packages/
ServerPackages/

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Output folder
/out/*
!/out/.gitignore

# Sourcemap
**/sourcemap.json